/*
Algumas informações úteis e dicas:
  - Fontes disponíveis:
    font-family: 'Roboto', sans-serif;
    font-family: 'Permanent Marker', cursive;
  - Cores:
    Tons de amarelo:
      #e4fc2b
      #e0d426
      #f7d736
      #e0af26
      #fcb02b
    Tons de cinza:
      #2c2c2c
      #4c4c4c
    Cores dos cards:
      #ead3a7
      #9de0f5
      #ef89ba
      #fae890
      #abe9c1
  - Sombra: https://codepen.io/sdthornton/pen/wBZdXq
 */

html,
body {
  font-family: "Roboto", sans-serif;
}

.appbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f7d736;
  height: 60px;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  align-self: flex-start;
  margin-left: 20px;
  color: #2c2c2c;
  max-width: 80px;
  height: auto;
}

.subtitle {
  font-size: 1rem;
  color: #2c2c2c;
  margin-left: auto;
  margin-right: 1050px;
  align-self: center;
  position: absolute;
  top: 40%;
}

